@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar&family=Inconsolata:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main-container {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-logo {
  font-family: "Eczar", serif;
  color: #000;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.03938rem;
}

.container {
  padding: 1rem 1.4rem;
  height: 100%;
  overflow-y: scroll;
}

button {
  border-radius: 2.33238rem;
  background: #000;
  color: #fff;
  font-size: 1.2595rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02519rem;
  border: none;
  padding: 0.6rem 2rem;
  box-sizing: border-box;
}

button:hover {
  background: #4c4b4b;
  /* transform:  ; */
}

.notes-group-container {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.new-group-1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.selected-group {
  background-color: #F7ECDC;
  border-radius: 29px;
}

.notes-group-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.notes-group-icon span {
  font-size: 1.2rem;
  color: white;
  padding: 5px 10px;
}

.notes-group-name {
  color: #000;
  font-family: "Roboto" , sans-serif;
  font-size: 1.16275rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.04325rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Apply a blur effect to the backdrop */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-overlay {
  background-color: #fff;
  border-radius: 12px;
  max-width: fit-content;
  min-width: max-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
  rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
  rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
  rgba(0, 0, 0, 0.07) 0px 32px 64px;
}



.modal {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.group-name-input-section {
  display: flex;
  gap: 5px;
  align-items: center;
}

.group-name-input-section > input {
  border: none;
  border: 1px solid #545454;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  width: 10rem;
  padding: 1.5px 8px;
}

.group-name-input-section > input::placeholder {
  
  padding: 8x;
}

.color-picker-section {
  display: flex;
  gap: 4px;
  align-items: center;
}
.color-picker {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  width: 100%; 
}

.selected-color {
  border: 1.5px solid black;
}

.color-option {
  width: 20px; 
  height: 20px; 
  border-radius: 50%;
  cursor: pointer;
}

.modal >.modal-btn-container> button {
  align-self: center;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 8px;
  font-weight: 500;
  padding: 0.2rem 1.5rem;

}

.modal-btn-container {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
}

.popup-notification {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  animation: fadeInOut 1s ease-in-out;
  white-space: nowrap;

  
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}


@media (max-width: 520px) {
  .main-container{
    padding: 1rem 1rem;
  }
  .container{
    padding: 1rem .8rem;
  }
}

