*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    min-height: 100vh;
    display: flex;
}

.notesgroup{
    /* max-width: 500px; */
    overflow: hidden;
    
}

.notesdisplay{
    background: #F7ECDC;
    flex: 1;
    max-width: 75%;
}

@media (max-width: 520px){
    .notesdisplay{
        display: none;
    }
    .notesgroup{
        width: 100vh;
        min-width: 300px;
    }
}

